<div style="display: flex; justify-content: space-around; margin-top: 20px;">
    <h1>Eat natural, eat organic.</h1>
    <mat-form-field appearance="outline" class="form-group">
        <mat-label>Search Vegetable</mat-label>
        <input type="text" matInput [(ngModel)]="searchText">
    </mat-form-field>
</div>

<mat-grid-list cols="4" rowHeight="400px"  *ngIf="products">
    <mat-grid-tile *ngFor="let product of products | searchProduct: searchText">  
        
        <mat-card class="mat-card" style="width: 200px;">
            <img style="border-radius: 5px; height: 150px; width: 200px;" sizes="100px" mat-card-image src="{{product.productImage}}"
                alt="Dish Photo">
            <mat-card-content>
                <mat-card-title>{{ product.productName }}</mat-card-title>
                <mat-card-subtitle>{{ product.productType }}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-subtitle>{{product.productDescription}}</mat-card-subtitle>
            <mat-card-title>{{ product.productPrice | currency: 'INR' }}</mat-card-title>
            <mat-card-actions style="display: flex; justify-content: center;">
                <button mat-raised-button color="accent" (click)="addToCart(product)">Add to cart</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<div align="center">
    <button mat-raised-button color="primary" [routerLink]="['/cart']">Go to Cart</button>
</div>
