<div class="hero-container" id="hero-sec">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col align-middle">
        <div class="px-2 py-2">
          <img
            src="https://media.istockphoto.com/id/1217564665/vector/home-delivery-concept-vector-banner.jpg?s=170667a&w=0&k=20&c=DjYaabNZFAnE4ncbDlhtbhcQZR1JtZVBT6qlJWZvpyg="
            class="img-fluid"
            alt="..."
            style="height: 400px"
          />
        </div>
      </div>
      <div class="col">
        <div class="px-5 py-5 mt-5">
          <div class="px-2 py-2 align-middle">
            <h4>Get all your needs Here</h4>
            <p>
              An online learning and teaching marketplace with over 204000
              courses and 54 million students. Learn programming, marketing,
              data science and more.
            </p>
          </div>
          <div class="px-2 py-2">
            <button type="button" class="btn btn-outline-primary">
              <a [routerLink]="['/product-list-for-customer']" class="nav-link">
                Checkout Our Vegetables
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main container -->
  <div class="main-container"><div class="container-fluid">...</div></div>
  <!-- Card container -->
  <div class="card-container bg-black" id="team">
    <div class="container-fluid px-3 py-3">
      <div class="row center mx-4 my-4 text-white">
        <h2>Our Team</h2>
        <p>Highly professional team</p>
      </div>
      <div class="row mb-5">
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPGBxaYdGHEpJ9001ON09kQBXAnqZaCYG3--fcJQUAIbkQAjWc-BpxmbgwJrzURi0j8gc&usqp=CAU"
              class="card-img-top"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Veedraj Gaikwad</h5>
              <a href="#" class="btn org-btn">Profile</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPGBxaYdGHEpJ9001ON09kQBXAnqZaCYG3--fcJQUAIbkQAjWc-BpxmbgwJrzURi0j8gc&usqp=CAU"
              class="card-img-top"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Kalpesh Patil</h5>
          
              <a href="#" class="btn org-btn">Profile</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPGBxaYdGHEpJ9001ON09kQBXAnqZaCYG3--fcJQUAIbkQAjWc-BpxmbgwJrzURi0j8gc&usqp=CAU"
              class="card-img-top"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Nikhar Jain</h5>
           
              <a href="#" class="btn org-btn">Profile</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPGBxaYdGHEpJ9001ON09kQBXAnqZaCYG3--fcJQUAIbkQAjWc-BpxmbgwJrzURi0j8gc&usqp=CAU"
              class="card-img-top"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Laxman Adkune</h5>
            
              <a href="#" class="btn org-btn">Profile</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPGBxaYdGHEpJ9001ON09kQBXAnqZaCYG3--fcJQUAIbkQAjWc-BpxmbgwJrzURi0j8gc&usqp=CAU"
              class="card-img-top"
              style="height: 300px"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Yogesh Manatkar</h5>
             
              <a href="#" class="btn org-btn">Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
