<div *ngIf="data.whichform === 'customer'">
    <div mat-dialog-title>
        <h1>Edit</h1>
    </div>
    <form>
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput ng-model="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Pincode</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="close()" >Cancle</button>
        <button mat-raised-button color="primary">Save</button>
    </div>
    </form>
</div>

<div *ngIf="data.whichform ==='product'">
    <div mat-dialog-title>
        <h1>Edit</h1>
    </div>
    <div mat-dialog-content>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="close()">Cancle</button>
        <button mat-raised-button color="primary">Save</button>
    </div>
</div>

<div *ngIf="data.whichform ==='order'">
  <div mat-dialog-title>
      <h1>Edit</h1>
  </div>
  <div mat-dialog-content>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Billing Date</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Billing Amount</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Billing Address</mat-label>
              <input matInput>
            </mat-form-field>
      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-raised-button (click)="close()">Cancle</button>
      <button mat-raised-button color="primary">Save</button>
  </div>
</div>