<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img class="logo" src="../../assets/img/logo.png">
      <a class="navbar-brand" href="#"><h5 class="nav-name">Vegetable Store</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <ul class="navbar-nav  m-auto">
      
          <ul class="navbar-nav m-auto">
  
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Home
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Home 1</a></li>
                      <li><a class="dropdown-item" href="#">Home 2</a></li>
                      <li><a class="dropdown-item" href="#">Home 3</a></li>
  
                  </ul>
              </li>
          
  
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Shop
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Shop Grid - Filter</a>
                  </li>
                  <li><a class="dropdown-item" href="#">Shop Grid - 3
                          column</a>
                  </li>
                  <li><a class="dropdown-item" href="#">Shop List - Filter</a>
                  </li>
                  <li><a class="dropdown-item" href="#">Shop - Filter</a></li>
                  <li><a class="dropdown-item" href="#">Shop Wide</a></li>
                  <li><a class="dropdown-item" href="#">Shop Single</a></li>
                  <li><a class="dropdown-item" href="#">Shop Wishlist</a>
                  </li>
                  <li><a class="dropdown-item" href="#">Shop Cart</a></li>
                  <li><a class="dropdown-item" href="#">Shop Checkout</a>
                  </li>
              </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Stores
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Store List</a></li>
                  <li><a class="dropdown-item" href="#">Store Grid</a></li>
                  <li><a class="dropdown-item" href="#">Store Single</a></li>
  
              </ul>
          </li>
  
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Pages
              </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Blog</a></li>
                  <li><a class="dropdown-item" href="#">Blog Single</a></li>
                  <li><a class="dropdown-item" href="#">Blog Category</a>
                  </li>
                  <li><a class="dropdown-item" href="#">About us</a></li>
                  <li><a class="dropdown-item" href="#">404 Error</a></li>
                  <li><a class="dropdown-item" href="#">Contact</a></li>
              </ul>
          </li>
  
          <li class="nav-item ">
              <a class="nav-link" href=".#">
                  Docs
              </a>
  
          </li>
        </ul>
        </ul>
  
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn-search-icon rounded-circle"><i class="bi bi-search-heart"></i></button>
        </form>
      </div>
    </div>
  </nav>