<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 mt-5">
        <mat-card style="background-color: #f6f1f1">
          <mat-action-list>
            <div mat-subheader>Menu</div>
            <button routerLink="/admin/customers" mat-list-item>
              <mat-icon mat-list-icon>groups</mat-icon> Customers
            </button>
            <button mat-list-item routerLink="/admin/products">
              <mat-icon mat-list-icon>inventory_2</mat-icon> Products
            </button>
            <button mat-list-item routerLink="/admin/orders">
              <mat-icon mat-list-icon>list_alt</mat-icon> Order
            </button>
            <!-- <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>logout</mat-icon> Logout
      </button> -->
          </mat-action-list>
        </mat-card>
      </div>

      <div class="col-md-9 mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
