<mat-card style="background-color: #f9f9f9">
  <h1>All Orders</h1>
  <div class="mt-3" style="width: auto">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Billing Date</th>
          <th scope="col">Billing Amount</th>
          <th scope="col">Billing Address</th>
          <th scope="col">PaymentId</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Type</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.billingDate | date }}</td>
          <td>{{ order.billingAmount }}</td>
          <td>{{ order.billingAddress }}</td>
          <td>{{ order.payment.paymentId }}</td>
          <td>{{ order.payment.paymentDate | date }}</td>
          <td>{{ order.payment.paymentTime }}</td>
          <td>{{ order.payment.paymentType }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
