<section class="mt-5">
    <div class="container">
        <div class="img-main-banner">
            <div
                style="background: url(assets/img/slide-1.jpg)no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">
                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">

                    <span class=" badges">Opening Sale Discount 50%</span>

                    <h2 class="text-dark display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery </h2>
                    <p class="lead">Introduced a new model for online grocery shopping and convenient home delivery.
                    </p>
                    <a href="#!" class="btn btn-dark mt-3">Shop Now <i class="bi bi-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-5 salessection">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div>
                    <div class="py-10 px-8 rounded-3"
                        style="background:url(assets/img/grocery-banner.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div>
                            <h3 class="fw-bold mb-1">Fruits & Vegetables
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
                            <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-12 col-lg-6 ">

                <div>
                    <div class="py-10 px-8 rounded-3"
                        style="background:url(assets/img/grocery-banner-2.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                        <div>
                            <h3 class="fw-bold mb-1">Freshly Baked Buns
                            </h3>
                            <p class="mb-4">Get Upto <span class="fw-bold">25%</span> Off</p>
                            <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
