input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.alert-spans {
  color: red;
  padding: 5px;
} /*------------ New code ------------- */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb; /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(7 58 147 / 0%), rgb(37 117 252 / 37%)
  );
}
