<section
  class="vh-100"
  class="shadow p-3 mb-5 bg-white rounded"
  style="
    float: left;
    width: 70%;
    height: 70%;
    border: 1px solid #050503;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
  "
>
  <div class="container p-2">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-5 col-lg-5 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
          style="height: 300px; width: 300px"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div
          class="text-center container gradient-custom"
          style="
            max-width: 400px;
            background-color: #f8f9fa;
            margin-right: 200px;
            border-radius: 25px;
            border: 1px solid #050503;
          "
        >
          <br />
          <div class="mt-5" *ngIf="isLoading">
            <mat-progress-spinner></mat-progress-spinner>
          </div>
          <div *ngIf="!isLoading">
            <div class="mb-2">
              <img
                src="../../../assets/img/login.png"
                alt="login.png"
                height="100px"
              />
            </div>
            <form
              class="g-3 mt-4"
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="col-12">
                <span
                  *ngIf="
                    !loginForm.get('customerEmail')!.valid &&
                    loginForm.get('customerEmail')!.touched
                  "
                  class="alert-spans"
                  >Invalid Email Entered...</span
                >
                <input
                  class="form-label text-center"
                  type="email"
                  formControlName="customerEmail"
                  name="customerEmail"
                  placeholder="Enter Your Email Id"
                  style="border-radius: 5px; width: 250px"
                />
              </div>
              <div class="col-12">
                <span
                  *ngIf="
                    !loginForm.get('customerPassword')!.valid &&
                    loginForm.get('customerPassword')!.touched
                  "
                  class="alert-spans"
                  >Invalid Password Entered...</span
                >
                <input
                  class="form-label text-center"
                  type="password"
                  formControlName="customerPassword"
                  name="customerPassword"
                  placeholder="Enter Your Password"
                  style="border-radius: 5px; width: 250px"
                />
              </div>
              <div class="col-12 mt-2">
                <input
                  class="btn btn-success"
                  type="button"
                  value="Login"
                  type="submit"
                  [disabled]="!loginForm.valid"
                />
              </div>
              <div class="col-12 mt-3">
                <p class="small fw-bold mt-2 pt-1 mb-0">
                  <b>Don't have an account? </b
                  ><br/><a [routerLink]="['/signup']" style="text-decoration: none">
                    <b style="color: #1266f1">Create New Account</b></a
                  >
                </p>
              </div>
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
