<div
  class="text-center container mt-5 mb-5"
  style="
    max-width: 400px;
    background-color: #f8f9fa;
    border-radius: 25px;
    border: 1px solid #050503;
  "
>
  <br />
  <div class="mb-2">
    <img src="../../../assets/img/login.png" alt="login.png" height="100px" />
  </div>
  <form class="g-3 mt-4">
    <div class="col-12">
      <input
        class="form-label text-center"
        type="email"
        minlength="10"
        [(ngModel)]="customer.customerEmail"
        name="customerEmail"
        placeholder="Email Id"
        style="border-radius: 5px; width: 250px"
        required
      />
    </div>

    <div class="col-12">
      <input
        class="form-label text-center"
        type="password"
        [(ngModel)]="customer.customerPassword"
        name="customerPassword"
        minlength="8"
        placeholder="Password"
        style="border-radius: 5px; width: 250px"
        required
      />
    </div>

    <div class="col-12 mt-2">
      <input
        *ngIf="
          customer.customerEmail.length >= 13 &&
          customer.customerPassword.length >= 8 &&
          customer.customerEmail.endsWith('@gmail.com') 
        "
        class="btn btn-success"
        type="submit"
        value="Login"
        (click)="printCustomer()"
      />
      <input
        *ngIf="
          customer.customerEmail.length < 13 ||
          customer.customerPassword.length < 8 ||
          !customer.customerEmail.endsWith('@gmail.com') 
        "
        class="btn btn-success"
        type="submit"
        value="Login"
        (click)="printCustomer()"
        disabled
      />
    </div>
    <div class="col-12 mt-3">
      <a [routerLink]="['/signup']" style="text-decoration: none"
        >Create New Account</a
      >
    </div>
  </form>
  <br />
</div>
