<div
  class="text-center container mt-5 mb-5"
  style="
    max-width: 400px;
    background-color: #f8f9fa;
    border-radius: 25px;
    border: 1px solid #050503;
  "
>
  <br />
  <div class="mt-5" *ngIf="isLoading">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="mb-2">
      <img src="../../../assets/img/login.png" alt="login.png" height="100px" />
    </div>
    <form class="g-3 mt-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="col-12">
        <span
          *ngIf="
            !loginForm.get('customerEmail')!.valid &&
            loginForm.get('customerEmail')!.touched
          "
          class="alert-spans"
          >Invalid Email Entered...</span
        >
        <input
          class="form-label text-center"
          type="email"
          formControlName="customerEmail"
          name="customerEmail"
          placeholder="Email Id"
          style="border-radius: 5px; width: 250px"
        />
      </div>

      <div class="col-12">
        <span
          *ngIf="
            !loginForm.get('customerPassword')!.valid &&
            loginForm.get('customerPassword')!.touched
          "
          class="alert-spans"
          >Invalid Password Entered...</span
        >
        <input
          class="form-label text-center"
          type="password"
          formControlName="customerPassword"
          name="customerPassword"
          placeholder="Password"
          style="border-radius: 5px; width: 250px"
        />
      </div>

      <div class="col-12 mt-2">
        <input
          class="btn btn-success"
          type="button"
          value="Login"
          type="submit"
          [disabled]="!loginForm.valid"
        />
      </div>
      <div class="col-12 mt-3">
        <a [routerLink]="['/signup']" style="text-decoration: none"
          >Create New Account</a
        >
      </div>
    </form>
    <br />
  </div>
</div>
